[Unit]
Description=NTP-server Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm {{ ntp_service_name }}
ExecStart=/usr/bin/docker run \
        --rm \
        -p {{ ntp_host_port }}:{{ ntp_container_port }}/{{ port_type }} \
        --cap-add=SYS_TIME \
        -e NTP_SERVERS="{{ global_ntp_servers }}" \
        --name {{ docker_service_name }} \
        {{ docker_image }}
ExecStop=/usr/bin/docker stop -t 5 {{ ntp_service_name }}

[Install]
WantedBy=multi-user.target